<% layout("layouts/boilerplate.ejs") %>
<div class="alert alert-danger col-6 offset-3" role="alert">
  <h4 class="alert-heading"><%= err.message %></h4>

  <hr />
  <%if (process.env.NODE_ENV !== "production") {%>

  <p class="mb-0"><%= err.stack %></p>
  <%}%>
</div>
